/* Navigation */
#navbar{
    flex-direction: column;
}

#navbar ul li a{
    font-size: 1rem;
    padding: 0px 7px;
    padding-bottom: 10px;
}

/* Home section */
#home{
    height: 200px;
    padding: 3px 68px;
}

#home::before{
    height: 400px;
}

#home p{
    font-size: 12px;
}

#home .msg{
    color: black;
    font-size: 15px;
}

/* services section */
#services{
    flex-direction: column;
}

#services .box img {
    height: 100px;
    margin: auto;
    display: block;
}

/* Client section */
#delivery{
    overflow: hidden;
    flex-wrap: wrap;
}

.delivery-item{
    padding: 30px;
}

#delivery img{
    width: 40px;
    height: auto;
}

/* utitlity classes */
.h-primary{
    font-size: 25px;
}

#home h1{
    font-size: 20px;
}

.btn{
    font-size: 10px;
    padding: 4px 12px;
}