.calculator{
    position: relative;
    width: 470px;
    height: 350px;
    padding: 20px 10px;
    margin-top: 500px;
    margin-left: 10px;
}
.calculator h2{
    font-size: 30px;
    text-shadow: 2px 2px rgb(162, 101, 101);
    margin-bottom: 30px;
}
.calculator form{
    font-size: 20px;
    padding: 10px 20px;
}
.choice, .user-input, .buttons{
    margin-bottom: 8px;
}
.btn1, .btn2{
    font-size: 16px;
    padding: 5px 18px;
}
.btn1{
    margin-left: 60px;
}
.btn2{
    margin-left: 100px;
}
.box{
    padding: 1px 4px;
}
.to{
    margin-left: 80px;
}
.buttons, .result, .user-input{
    margin-top: 30px;
}
.result{
    margin-top: 45px;
}
.user-input, .result{
    margin-left: 50px;
}